*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: linear-gradient(90deg, #2B303A 0%, #3F4756 100%);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Sora', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, #d3dae8 0%, #a7b7d8 100%);
  color: #111317;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100%;
}